html, body, #root, .container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tile-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-top: 10px;
}

.tile {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: white;
}

.table th {
    padding: 0 !important;
}